
.footer{
    width: 100%;
    background-color: #021d3b;
}

.footer .grupo_1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding-top: 20px;
}

.footer .grupo_1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer .grupo_1 .box figure img{
    width: 150px;
}

.footer .grupo_1 .box .red_social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .grupo_1 .box .red_social a{
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #021d3b;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 10px;
}

.footer .grupo_1 .box .red_social a:hover{
    background-color: #fff;
    color: #021d3b;
    border-radius: 10px;
}

.footer .grupo_2{
    background-color: #021d3b;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.footer .grupo_2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .footer .grupo_1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer .grupo_1 .box figure{
        margin: 0;
    }
}
