.account_info {
    background-color:#00376e;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.account_info .account_number {
    font-size: 1em;
    font-weight: bold;
}

.account_info .account_type {
    font-size: 1.2em;
    margin: 5px ;
    
}

.account_info .balance {
    font-size: 2.5em;
    font-weight: bold;
}


.services {
    margin-bottom: 20px;
}

.service {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service .service_name {
    font-size: 1em;
    font-weight: bold;
}

.service .service_amount {
    font-size: 1.1em;
    color: #4f7dfc;
}

.service .due_date {
    font-size: 0.9em;
    color: #888888;
}

.service button {
    background-color: #00376e;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
}

.service button:hover {
    background-color: #4f7dfc;
}


.shortcuts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color:#00376e;
}

.shortcut {
    background-color:#00376e;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.shortcut:hover {
    background-color:#4f7dfc;
}

.recent_movements {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.recent_movements h2 {
    margin-top: 0;
    font-size: 1.2em;
}

.recent_movements ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recent_movements li {
    margin-bottom: 10px;
}

.view_all {
    background-color:#00376e;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.view_all:hover {
    background-color: #4f7dfc;
}

form {
    background-color: #d3e6f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(52, 47, 66, 0.1);
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #c3d0ff;
    border-radius: 5px;
}

form button {
    background-color:#00376e;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #4f7dfc;
}

.left {
    text-align: left;
    margin-left: 20px;
}

.left img {
    width: 25px;  
    height: auto;
    margin-right: 5px; 
}

.center {
    text-align: center;
}

.right {
    text-align: right;
    margin-right: 30px;
}

.google_play {
    width: 100px;
    height: auto; 
}

.apple_store {
    width: 90px; 
    height: auto; 
    padding-left: 10px;
}


/*.fondo {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('fondo_oficial.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
}*/


/*.contenido {
    position: relative; 
    text-align: center;
    z-index: 1; 
    color: #fff;  
    padding: 20px;
}*/


.bienvenida h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 70px;             
    font-weight: bold;          
    color: #1877f2;              
    letter-spacing: -0.5px;      
    text-align: left;         
}

.bienvenida p {
    text-align: left;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2em;
    color: #ffffff; 
    background-color: #4f7dfc; 
    padding: 15px;
    border-radius: 10px;       
    display: inline-block;    
    margin: 0;
}


#resultadoPrestamo, #resultadoConversion {
    margin-top: 20px;
}