.Tar {
    font-size: 2em;
    text-align: center;
    font-weight: bolder;
}

.Debito {
    font-size: 1.5em;
    margin: 20px;
    font-weight: bold;
    margin-top: 50px;
}

.Credito {
    font-size: 1.5em;
    margin: 20px;
    font-weight: bold;
    margin-top: 50px;
}

.tarjetas_container {
    display: flex;
    flex-wrap: wrap;
}

.Tarjetas {
    background-color: #00438b;
    color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
    width: 300px; 
}

.Tarjetas:hover {
    transform: translateY(-20px);
  }

.marca {
    font-size: 1.2em;
    text-align: right;
    font-weight: bolder;
}

.number {
    font-size: 1.6em;
    margin: 15px ;
    margin-left: 1px ;
    font-weight: bold;
    
}
.button_container {
    display: flex;
    align-items: center;
}
button {
    font-size: 1.2em;
    background-color: #00438b;
    color: #ffffff;  
}

button:hover {
    font-size: 1.2em;
    background-color: #0654a8;
    color: #ffffff;
}

.account_number {
    font-size: 1em;
    margin-left: 15px ;
}

.limite {
    font-size: 1em;
    line-height: 2;
    margin-left: 15px ;
}

.vencimiento {
    font-size: 1.1em;
    margin-top: 7px ;
    margin-left: 1px ;
    font-weight: bold;
}

